Repository eels/dungeon.liam.codes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --cache, stylelint --cache

chore: add vscode directory with sensible defaults
  .vscode/extensions.json
  .vscode/settings.json
Due: none

refactor: move image to dedicated resources folder
  public/assets/favicons/favicon-16x16.png
  public/assets/favicons/favicon-32x32.png
  public/assets/favicons/favicon-48x48.png
  public/assets/favicons/favicon-96x96.png
  public/assets/social/opengraph.png
  public/assets/social/twitter.png
  public/favicon.ico
  src/resources/fonts/FixedsysExcelsiorIIIb.woff2
  src/resources/img/axe.png
  src/resources/img/bow.png
  src/resources/img/breastplate.png
  src/resources/img/card-back.png
  src/resources/img/crystal.png
  src/resources/img/dagger.png
  src/resources/img/discard.png
  src/resources/img/divine.png
  src/resources/img/dungeon-gate.png
  src/resources/img/dungeon-tunnel.png
  src/resources/img/electric.png
  src/resources/img/email.png
  src/resources/img/facebook.png
  src/resources/img/fire.png
  src/resources/img/gloves.png
  src/resources/img/hammer.png
  src/resources/img/helm.png
  src/resources/img/ice.png
  src/resources/img/magic.png
  src/resources/img/nature.png
  src/resources/img/poison.png
  src/resources/img/potion.png
  src/resources/img/shuffle.png
  src/resources/img/sword.png
  src/resources/img/tombstone.png
  src/resources/img/twitter.png
  src/resources/img/water.png
  src/styles/generic/fonts.scss
Due: prettier --check, stylelint --cache

fix: add missing resources alias
  package.json
Due: none

fix: css reset not importing
  src/styles/generic/reset.scss
Due: prettier --check, stylelint --cache

fix: update css relative resources
  src/styles/components/creature.scss
  src/styles/components/hand.scss
  src/styles/components/screen-death.scss
  src/styles/generic/fonts.scss
Due: prettier --check, stylelint --cache

fix: reduce font size to 16px
  src/styles/generic/typography.scss
Due: prettier --check, stylelint --cache

refactor: convert classes to be named
  src/classes/creature.js
  src/classes/dungeon.js
  src/classes/player.js
  src/classes/tick.js
Due: prettier --check, eslint --cache

feat: extract combat log messages into their own data objects
  src/data/messages.js
  src/data/messages/advance-dungeon.js
  src/data/messages/card-effect.js
  src/data/messages/creature-death.js
  src/data/messages/creature-effect.js
  src/data/messages/status-effect.js
  src/events/handlers/custom-tick.js
  src/functions/advance-dungeon-level.js
  src/functions/apply-card-effects.js
  src/functions/apply-creature-effects.js
  src/functions/combat-log.js
  src/functions/play-card.js
  src/functions/process-combat-queue.js
  src/functions/process-creature-attack.js
  src/functions/process-creature-death.js
  src/functions/process-creature-status-effects.js
  src/functions/process-player-status-effects.js
  src/utilities/hydrate.js
Due: prettier --check, eslint --cache

feat: move event text to data/messages and hydrate where needed
  src/data/messages.js
  src/data/messages/checkpoint.js
  src/data/specials/cards.js
  src/events/handlers/click-buy.js
  src/events/handlers/click-heal.js
Due: prettier --check, eslint --cache

fix: ensure images are pulling through in components
  src/components/DeathScreen.js
  src/components/StartScreen.js
Due: prettier --check, eslint --cache

fix: fix typing for outbound log messages
  src/utilities/type.js
Due: prettier --check, eslint --cache

feat: add capitalised creature name to entity
  src/components/creature.js
  src/data/specials/cards.js
  src/events/handlers/click-buy.js
  src/functions/apply-card-effects.js
  src/functions/apply-creature-effects.js
  src/functions/play-card.js
  src/functions/process-creature-attack.js
  src/functions/process-creature-death.js
  src/functions/process-creature-status-effects.js
  src/lib/entities/CreatureEntity.js
Due: prettier --check, eslint --cache

feat: implement card finding function
  src/events/handlers/click-buy.js
  src/events/handlers/click-take.js
  src/functions/find-card-by-column.js
  src/functions/play-card.js
  src/lib/entities/DungeonEntity.js
  src/lib/entities/PlayerEntity.js
Due: prettier --check, eslint --cache

refactor: remove plural from status effect
  src/components/creature.js
  src/components/stats.js
Due: prettier --check, eslint --cache

fix: ensure card filter argument is array
  src/functions/find-card-by-column.js
Due: prettier --check, eslint --cache

fix: ensure buy/take functionality works
  src/events/handlers/click-buy.js
  src/events/handlers/click-heal.js
  src/events/handlers/click-take.js
Due: prettier --check, eslint --cache

refactor: rewrite some generation code
  src/events/handlers/click-restart.js
  src/functions/advance-dungeon-level.js
  src/lib/entities/DungeonEntity.js
  src/lib/entities/PlayerEntity.js
Due: prettier --check, eslint --cache

feat: create chance probability utility
  src/data/creatures/level-01.js
  src/data/creatures/level-02.js
  src/data/creatures/level-03.js
  src/data/creatures/level-04.js
  src/data/creatures/level-05.js
  src/functions/apply-card-effects.js
  src/functions/apply-creature-effects.js
  src/functions/process-creature-special-attack.js
  src/utilities/chance.js
Due: prettier --check, eslint --cache

feat: add additional redraw combat log message
  src/data/messages/card-effect.js
  src/functions/apply-card-effects.js
Due: prettier --check, eslint --cache

fix: prevent creature update event firing on checkpoints
  src/events/handlers/custom-creature-update.js
Due: prettier --check, eslint --cache

fix: ensure player stats get updated when entering checkpoint
  src/lib/entities/DungeonEntity.js
Due: prettier --check, eslint --cache

fix: fix restart initial state bug
  src/events/handlers/click-restart.js
  src/instances/dungeon.js
  src/instances/player.js
  src/instances/tick.js
Due: prettier --check, eslint --cache

feat: add favicon icons
  .eslintrc.json
  package.json
  src/index.html
  src/static/favicon-16x16.png
  src/static/favicon-32x32.png
  src/static/favicon.ico
Due: none

refactor: rename scss variables
  src/styles/components/board.scss
  src/styles/components/card.scss
  src/styles/components/creature.scss
  src/styles/components/footer.scss
  src/styles/components/hand.scss
  src/styles/components/log.scss
  src/styles/components/message.scss
  src/styles/components/screen-death.scss
  src/styles/components/screen-shop.scss
  src/styles/components/screen-start.scss
  src/styles/components/screen-treasure.scss
  src/styles/components/stats.scss
  src/styles/components/timer.scss
  src/styles/elements/body.scss
  src/styles/generic/selection.scss
  src/styles/generic/typography.scss
  src/styles/settings/colors.scss
  src/styles/settings/typography.scss
  src/styles/utilities/type.scss
Due: prettier --check, stylelint --cache

chore: add missing prepare yarn script
  package.json
Due: none

fix: fix flagged linting errors
  src/events/handlers/custom-creature-update.js
Due: prettier --check, eslint --cache

refactor: change log prefix behaviour
  src/data/messages/advance-dungeon.js
  src/data/messages/card-effect.js
  src/data/messages/checkpoint.js
  src/data/messages/creature-death.js
  src/data/messages/status-effect.js
  src/functions/process-combat-queue.js
Due: prettier --check, eslint --cache

refactor: ensure all player stat values are padded
  src/components/stats.js
Due: prettier --check, eslint --cache

refactor: change directory names
  src/resources/font/fixedsys-excelsior.woff2
  src/styles/generic/fonts.scss
Due: prettier --check, stylelint --cache

fix: allow combat log to process when at checkpoint
  src/lib/entities/TickEntity.js
Due: prettier --check, eslint --cache

fix: fix bug where cards cannot be bought if remaining gold is 0
  src/events/handlers/click-buy.js
  src/events/handlers/click-heal.js
Due: prettier --check, eslint --cache

fix: capitalize bought card name in messages
  src/events/handlers/click-buy.js
Due: prettier --check, eslint --cache

feat: re-style the discard pile
  src/styles/components/hand.scss
Due: prettier --check, stylelint --cache

feat: add animation to discard pile
  src/functions/add-to-discard.js
  src/styles/animations/discard-enter.scss
  src/styles/application.scss
  src/styles/components/hand.scss
Due: prettier --check, eslint --cache, stylelint --cache

feat: add label to discard pile
  src/styles/components/hand.scss
Due: prettier --check, stylelint --cache

fix: sorted discard animation issues
  src/functions/add-to-discard.js
  src/styles/animations/discard-enter.scss
  src/styles/components/hand.scss
Due: prettier --check, eslint --cache, stylelint --cache

feat: add log highlighting for keywords
  src/data/keywords.js
  src/data/messages/card-effect.js
  src/data/messages/creature-effect.js
  src/events/handlers/click-buy.js
  src/events/handlers/click-heal.js
  src/functions/process-combat-queue.js
  src/styles/components/log.scss
  src/styles/components/screen-shop.scss
  src/utilities/hydrate.js
Due: prettier --check, eslint --cache, stylelint --cache

fix: fix bug in armor damage
  src/data/messages/card-effect.js
  src/data/messages/creature-effect.js
  src/functions/apply-card-effects.js
  src/functions/apply-creature-effects.js
  src/functions/process-creature-armor-update.js
  src/functions/process-creature-attack.js
  src/functions/process-player-armor-update.js
Due: prettier --check, eslint --cache

Path conditions:
  prettier --check: (any of: src/**/*.js) or (any of: src/**/*.scss)
  eslint --cache: any of: src/**/*.js
  stylelint --cache: any of: src/**/*.scss
