Repository eels/dungeon.liam.codes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --cache, stylelint --cache

refactor: replace death image
  src/components/DeathScreen.js
  src/resources/images.js
  src/resources/img/crowned-skull.png
  src/resources/img/tombstone.png
Due: prettier --check, eslint --cache

feat: add hand to keywords array
  src/data/keywords.js
Due: prettier --check, eslint --cache

refactor: minor styling tweaks
  src/index.html
  src/styles/application.scss
  src/styles/components/board.scss
  src/styles/components/container.scss
  src/styles/components/footer.scss
  src/styles/components/message.scss
  src/styles/components/screen-death.scss
  src/styles/components/screen-shop.scss
  src/styles/components/screen-start.scss
  src/styles/components/screen-treasure.scss
Due: prettier --check, stylelint --cache

feat: remove disabled state from stats
  src/events/handlers/click-start.js
  src/functions/advance-dungeon-level.js
  src/functions/process-player-death.js
  src/index.js
  src/styles/components/stats.scss
Due: prettier --check, eslint --cache, stylelint --cache

feat: add framework for boss creatures
  src/components/creature.js
  src/data/bosses.js
  src/data/bosses/set-00.js
  src/data/cards/set-00.js
  src/data/cards/set-01.js
  src/data/cards/set-02.js
  src/data/cards/set-03.js
  src/data/cards/set-04.js
  src/data/creatures/level-01.js
  src/data/creatures/level-02.js
  src/data/creatures/level-03.js
  src/data/creatures/level-04.js
  src/data/creatures/level-05.js
  src/functions/apply-card-effects.js
  src/functions/apply-creature-effects.js
  src/functions/process-creature-attack.js
  src/lib/entities/CreatureEntity.js
  src/lib/entities/DungeonEntity.js
  src/styles/components/creature.scss
Due: prettier --check, eslint --cache, stylelint --cache

feat: enable creature special log messages
  src/data/creatures/level-01.js
  src/data/creatures/level-02.js
  src/data/creatures/level-03.js
  src/data/creatures/level-04.js
  src/data/creatures/level-05.js
  src/functions/apply-creature-effects.js
Due: prettier --check, eslint --cache

fix: alter poison/burn logic
  src/data/creatures/level-01.js
  src/data/creatures/level-02.js
  src/data/creatures/level-03.js
  src/functions/process-creature-status-effects.js
  src/functions/process-player-status-effects.js
Due: prettier --check, eslint --cache

feat: reduce creatures per level
  src/lib/entities/DungeonEntity.js
Due: prettier --check, eslint --cache

feat: add random checkpoint special blessings
  src/components/ShopScreen.js
  src/components/TreasureScreen.js
  src/components/card.js
  src/components/stats.js
  src/data/messages/checkpoint.js
  src/data/specials/cards.js
  src/events/handlers/click-heal.js
  src/events/handlers/click-special.js
  src/events/register.js
  src/styles/components/stats.scss
  src/utilities/padding.js
Due: prettier --check, eslint --cache, stylelint --cache

feat: retain current hand when advancing levels
  src/functions/advance-dungeon-level.js
  src/lib/entities/PlayerEntity.js
Due: prettier --check, eslint --cache

feat: add initial encounter combat log message
  src/data/messages/advance-dungeon.js
  src/events/handlers/click-start.js
  src/functions/advance-dungeon-level.js
  src/functions/process-creature-death.js
Due: prettier --check, eslint --cache

feat: make message screens wider
  src/styles/components/screen-death.scss
  src/styles/components/screen-shop.scss
  src/styles/components/screen-start.scss
  src/styles/components/screen-treasure.scss
Due: prettier --check, stylelint --cache

feat: restore some health and mana at checkpoint
  src/components/ShopScreen.js
  src/components/TreasureScreen.js
  src/events/handlers/custom-enter-shop.js
  src/styles/components/message.scss
  src/styles/components/screen-shop.scss
  src/styles/components/screen-treasure.scss
Due: prettier --check, eslint --cache, stylelint --cache

feat: reduce chance of boss encounter
  src/lib/entities/DungeonEntity.js
Due: prettier --check, eslint --cache

feat: disable cards when player has no mana
  src/components/card.js
  src/styles/components/card.scss
Due: prettier --check, eslint --cache, stylelint --cache

build: add img min yarn script
  package.json
  src/resources/img/bow.png
  src/resources/img/crowned-skull.png
  src/resources/img/dagger.png
  src/resources/img/divine.png
  src/resources/img/dungeon-tunnel.png
  src/resources/img/electric.png
  src/resources/img/fire.png
  src/resources/img/gloves.png
  src/resources/img/hammer.png
  src/resources/img/helm.png
  src/resources/img/ice.png
  src/resources/img/nature.png
  src/resources/img/poison.png
  src/resources/img/water.png
Due: none

chore: add github workflows
  .github/dependabot.yml
  .github/workflows/deploy.yml
  .github/workflows/verify-code-standard.yml
Due: none

refactor: change file casing
  src/components/Board.js
  src/components/Card.js
  src/components/Creature.js
  src/components/Hand.js
  src/components/Log.js
  src/components/Message.js
  src/components/Stats.js
  src/components/Timer.js
  src/components/Title.js
  src/instances/Dungeon.js
  src/instances/Player.js
  src/instances/Tick.js
Due: prettier --check, eslint --cache

fix: fix deploy workflow script
  .github/workflows/deploy.yml
Due: none

fix: remove files conflicting in case
  src/components/board.js
  src/components/card.js
  src/components/creature.js
  src/components/hand.js
  src/components/log.js
  src/components/message.js
  src/components/stats.js
  src/components/timer.js
  src/components/title.js
  src/instances/dungeon.js
  src/instances/player.js
  src/instances/tick.js
Due: prettier --check, eslint --cache

feat: add service worker
  package.json
  src/index.js
  src/service-worker.js
  yarn.lock
Due: prettier --check, eslint --cache

feat: add humans.txt
  src/index.html
  src/static/humans.txt
Due: none

feat: add apple-touch icon
  package.json
  src/index.html
  src/static/apple-icon.png
  src/static/favicon-16x16.png
  src/static/favicon-32x32.png
  yarn.lock
Due: none

feat: add site.webmanifest
  package.json
  src/index.html
  src/site.webmanifest
  src/static/android-chrome-192x192.png
  src/static/android-chrome-512x512.png
  yarn.lock
Due: none

feat: update favicon sizes
  src/static/android-chrome-192x192.png
  src/static/android-chrome-512x512.png
  src/static/apple-icon.png
  src/static/favicon-16x16.png
  src/static/favicon-32x32.png
  src/static/favicon.ico
Due: none

ci: add dependabot auto merge workflow
  .github/workflows/dependabot-merge.yml
Due: none

docs: add initial readme
  README.md
Due: none

chore: update lock file
  yarn.lock
Due: none

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore: bump package versions
  .github/dependabot.yml
  .github/workflows/dependabot-merge.yml
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  yarn.lock
Due: none

feat: move deployment to cloudflare pages
  .github/workflows/deploy.yml
Due: none

feat: improve lighthouse scores
  src/components/Board.js
  src/components/Creature.js
  src/components/DeathScreen.js
  src/components/StartScreen.js
  src/components/Stats.js
  src/functions/process-creature-death.js
  src/index.html
  src/robots.txt
  src/static/humans.txt
  src/styles/components/board.scss
  src/styles/components/creature.scss
  src/styles/components/footer.scss
  src/styles/components/screen-start.scss
  src/styles/settings/colors.scss
Due: prettier --check, eslint --cache, stylelint --cache

fix: update mime type for image preload
  src/index.html
Due: none

feat: convert footer into component
  src/components/Footer.js
  src/index.html
  src/index.js
Due: prettier --check, eslint --cache

feat: add preload for custom font
  src/index.html
Due: none

fix: add crossorigin attribute to font preload
  src/index.html
Due: none

Path conditions:
  prettier --check: (any of: src/**/*.js) or (any of: src/**/*.scss)
  eslint --cache: any of: src/**/*.js
  stylelint --cache: any of: src/**/*.scss
